agent-soap-consumer/src/main/resources/auth.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="www.rent-a-car.ws.xml.rs/auth" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.rent-a-car.ws.xml.rs/auth" targetNamespace="www.rent-a-car.ws.xml.rs/auth">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="www.rent-a-car.ws.xml.rs/auth">
    <xs:element name="allUsersRequestXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="company" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="allUsersResponseXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="user" type="tns:UserXML"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SignUpRequestXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="lastName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="username">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="password">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApiResponseXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LoginRequestXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usernameOrEmail">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="password">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllRolesXML"/>
    <xs:element name="allRolesResponseXML">
        <xs:complexType>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="unbounded" name="roles" type="tns:RoleXML"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getUserRequestXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getUserResponseXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="user" type="tns:UserXML"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="UserXML">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="username">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firstName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="password">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:sequence>
                <xs:element name="newElement" type="tns:RoleXML"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RoleXML">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="roleName" type="tns:RoleNameXML"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoleNameXML">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ROLE_USER"/>
            <xs:enumeration value="ROLE_AGENT"/>
            <xs:enumeration value="ROLE_ADMIN"/>
            <xs:enumeration value="ROLE_MESSAGE"/>
            <xs:enumeration value="ROLE_ADVERTISE"/>
            <xs:enumeration value="ROLE_APPOINT"/>
            <xs:enumeration value="ROLE_AGENT"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="AuthPort">
  </wsdl:portType>
  <wsdl:binding name="AuthPortSoap11" type="tns:AuthPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="AuthPortService">
    <wsdl:port binding="tns:AuthPortSoap11" name="AuthPortSoap11">
      <soap:address location="http://localhost:8765/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>