agent-soap-consumer/src/main/resources/message.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="www.rent-a-car.ws.xml.rs/message" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.rent-a-car.ws.xml.rs/message" targetNamespace="www.rent-a-car.ws.xml.rs/message">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="www.rent-a-car.ws.xml.rs/message">
    <xs:element name="allMessagesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="company" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="messagesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" type="tns:MessageXML"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createMessageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="tns:MessageXML"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createMessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="MessageXML">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="sender" type="xs:long"/>
            <xs:element name="receiver" type="xs:long"/>
            <xs:element name="message" type="xs:string"/>
            <xs:element name="subject" type="xs:string"/>
            <xs:element name="createdAt" type="xs:string"/>
            <xs:element name="appointmentId" type="xs:long"/>
            <xs:element name="companyId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="messagesResponse">
    <wsdl:part element="tns:messagesResponse" name="messagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allMessagesRequest">
    <wsdl:part element="tns:allMessagesRequest" name="allMessagesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createMessageResponse">
    <wsdl:part element="tns:createMessageResponse" name="createMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createMessageRequest">
    <wsdl:part element="tns:createMessageRequest" name="createMessageRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MessagePort">
    <wsdl:operation name="messages">
      <wsdl:output message="tns:messagesResponse" name="messagesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allMessages">
      <wsdl:input message="tns:allMessagesRequest" name="allMessagesRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="createMessage">
      <wsdl:input message="tns:createMessageRequest" name="createMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:createMessageResponse" name="createMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagePortSoap11" type="tns:MessagePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="messages">
      <soap:operation soapAction=""/>
      <wsdl:output name="messagesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allMessages">
      <soap:operation soapAction=""/>
      <wsdl:input name="allMessagesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="createMessage">
      <soap:operation soapAction=""/>
      <wsdl:input name="createMessageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagePortService">
    <wsdl:port binding="tns:MessagePortSoap11" name="MessagePortSoap11">
      <soap:address location="http://DESKTOP-UVNRQ0Q:8070/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>